<section class="agencia">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-push-4">
				<div class="tit">
					<h1>
						Agência
					</h1>
				</div>
			</div> 
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="sub">
					<h1>
						O que é?
					</h1>
					<p>
						&nbsp; A Make Love é uma Agência de Organização de Eventos Românticos ou datas festivas, restrito para casais. A marca zela pela satisfação e a oportunidade de disfrutar um bom momento, com o seu companheiro ou companheira, de uma maneira simples e edicada ao mesmo tempo.
						<br>
						&nbsp;&nbsp; A sua principal preocupação é o bem-estar dos seus clientes. Os eventos são criativos, dinâmicos, especiais e diferentes e pretendemos mostrar que pode confiar no trabalho prestado pela Agência.
					</p>
				</div>
				
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="sub">
					<h1>
						Como começou?
					</h1>
					<p>
						&nbsp;&nbsp;Tudo começou com apresentar uma proposta de Prova de Aptidão Profissional, a ideia foi pensar em Agências de Organização de Eventos e no trabalho que estas efetuam. O gosto pela realização de acontecimentos românticos ajudou na criação da ideia para a Agência.
						<br>
						&nbsp;&nbsp;&nbsp;Existia a necessidade de planear algo que fosse apenas para casais, para ser específico na seleção do público-alvo. A ideia surgiu e o objetivo agora é criar e decorar Eventos Românticos para concretizar sonhos que antes não eram possíveis.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-12">
				<div class="sub">
					<h1>
						Porquê Make Love?
					</h1>
					<p>
						&nbsp;&nbsp;O nome Make Love significa em português fazer amor, que tem tudo a ver com o que a marca pretende, ajudando a demonstrar o amor ao companheiro ou companheira de forma criativa e original. Criar o amor e fazer com que este floresça de novo, em caso de problemas entre o casal, é um dos focos da Agência.	
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-push-4">

				<div class="tit">
					<h1>
						Visão, Missão e Valores
					</h1>
				</div>
				
			</div> 
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="sub">
					<h1>
						Visão
					</h1>
					<p>
						&nbsp;&nbsp;A visão da Make Love é ser uma referência em agências deste setor e mercado e garantir a sua originalidade, criatividade, paixão, esforço e diversão para a concretização de sonhos e criação de memórias.
					</p>
				</div>

				<div class="sub">
					<h2>
						Missão
					</h2>
					<p>
						&nbsp;&nbsp;A missão da Make Love é atingir preferência no mercado e ser reconhecida pela inovação, originalidade e dedicação.
						<br>
						&nbsp;&nbsp; Make Love tem como objetivo ser original, criativa, fiel, dedicada e confortável para todos os seus clientes.possíveis.	
					</p>
				</div>
			</div>

			<div class="col-md-6 col-md-push-1">
				<div class="sub">
					<h1>
						Valores
					</h1>

					<div class="list">

						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Make Love tem um conjunto fundamental de valores, que farão com que a agência se distinga, pelo seu profissionalismo e dedicação, da concorrência:
						</p>

						<ul>
							<li>
								<strong>Simpatia – </strong>a marca pretende apostar nos seus colaboradores, sendo responsáveis, dedicados, bem-dispostos, disponíveis e acessíveis;
							</li>

							<br>

							<li>
								<strong>Competência – </strong>a agência irá ter profissionais específicos e especializados em decoração de interiores e exteriores, assim como, na organização de eventos;
							</li>

							<br>

							<li>
								<strong>Rigor – </strong> dar o melhor aos seus clientes, garantindo muita ética e profissionalismo;
							</li>

							<br>

							<li>
								<strong>Criatividade – </strong>garantir que todos os eventos são diferentes e dedicados a um casal específico;
							</li>

							<br>

							<li>
								<strong>Lealdade – </strong>a marca pretende criar um bom relacionamento com os clientes, visto que terá de conhecer os seus gostos, para a preparação e execução dos eventos;
							</li>

							<br>

							<li>
								<strong>Espirito de equipa – </strong>a marca pretende ter uma vasta equipa de profissionais que terão de tomar decisões em equipa e ajudar o cliente no seu evento;
							</li>
						</ul>
					</div>

				</div>
				
			</div>

		</div>

	</div>
</section>