<section class="contactos">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="contact">
					<p>
						214 008 736
					</p>

					<a href="MAILTO:someone@example.com">
						makelove@gmail.com
					</a>

					<p>
						Para contactar com a Agência ou saber mais informações sobre a mesma, deixe mensagem com o seu nome, e-mail e número de telemóvel.
					</p>
				</div>

			</div>

			<div class="col-md-6 col-md-push-1">

				<div class="user">
					<form action="#">
						<input type="Nome" placeholder="Nome" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nome'">
						<input type="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
						<input type="Contacto" placeholder="Contacto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contacto'">
					</form>
				</div>

			</div>

			<div class="col-md-4 col-md-push-1">

				<div class="message">
					<h1>
						Mensagem
					</h1>
					<textarea name="" id="" cols="30" rows="10"></textarea>
					<button type="submit" value="Enviar">

						

						ENVIAR 

					</button>
				</div>

			</div>
		</div>
	</div>
</section>