<section class="detail">
	<div class="container">
		<div class="row">

			<div class="col-sm-12 destaques">
				<h1>
					Destaques
				</h1>
			</div>

		</div>
			<div class="row mr">

				<div class="col-md-4 col-md-push-2 col-sm-6 proj">
					<div class="projectos-detail">

						<div class="project-image">
							<img src="../_images/projectos/negriljamaica1.jpg" alt="">	
						</div>

						<h1>
							Negril, Jamaica
						</h1>

						<hr>

						<p>
							VIAGENS
						</p>

						<a href="projectos.html" class="verproj hvr-grow hvr-overline-from-center">
							VER
						</a>
					</div>
				</div>

				<div class="col-md-4 col-md-push-2 col-sm-6 proj">
					<div class="projectos-detail">

						<div class="project-image">
							<img src="../_images/projectos/santorinigrecia1.jpg" alt="">	
						</div>

						<h1>
							Santorini, Grécia
						</h1>

						<hr>

						<p>
							VIAGENS
						</p>

						<a href="projectos.html" class="verproj hvr-grow hvr-overline-from-center">
							VER
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>