<section class="detail">
	<div class="container">
		<div class="row">

			<div class="col-sm-12">
				<h1>
					Destaques
				</h1>
			</div>

			{{!-- <div class="col-md-12">
				<ul>
					<li>
						<figure>
							<a href="">
								<img src="../_images/image3.jpg" alt="">
							</a>
						</figure>
						<a href="#" class="novidades">
							Jantar a dois
						</a>
					</li>

					<li>
						<figure>
							<a href="">
								<img src="../_images/image3.jpg" alt="">
							</a>
						</figure>
						<a href="#" class="novidades">
							Jantar a dois
						</a>
					</li>
				</ul>
			</div> --}}

			<div class="col-md-6 col-sm-6">
				<figure>
					<a href="">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</figure>
			</div>

			<div class="col-md-6 col-sm-6">
				<figure>
					<a href="">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</figure>
			</div>
		</div>
	</div>
</section>