<section class="equipa">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<div class="equipa-detail">
					
					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>
				
			</div>

			<div class="col-md-4">

				<div class="equipa-detail">
					
					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>
				
			</div>

			<div class="col-md-4">

				<div class="equipa-detail">
					
					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>
				
			</div>

			<div class="col-md-4">
				<div class="equipa-detail">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4">

				<div class="equipa-detail">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4">

				<div class="equipa-detail">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4">
				<div class="equipa-detail">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4">

				<div class="equipa-detail">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4">

				<div class="equipa-detail">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

		</div>


	</div>
</section>