<section class="equipa">
	<div class="container">
		<div class="row">

			<div class="col-md-4 col-sm-6 equip">
				<div class="equipa-detail">
					
					<img src="../_images/equipa/secretaria.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>
				
			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/account.jpg" alt="">
					
					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>
				
			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/planeadores.jpg" alt="">
					
					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>
				
			</div>

			<div class="col-md-4 col-sm-6 equip">
				<div class="equipa-detail">

					<img src="../_images/equipa/designer.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/decoradorainterior.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/decoradoraexterior.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">
				<div class="equipa-detail">

					<img src="../_images/equipa/relacoespublicas.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/contabilista.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/financeiro.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">
				<div class="equipa-detail">

					<img src="../_images/equipa/planeadora.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/secretario.jpg" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 equip">

				<div class="equipa-detail">

					<img src="../_images/equipa/financeiro1.png" alt="">

					<h1>
						Secretária
					</h1>

					<hr>

					<p>
						Atendimento ao Publico e Linha telefónica
					</p>
				</div>

			</div>
		</div>
	</div>
</section>