<section class="sessao">
	<div class="container">
		<div class="row">


{{!-- 			<div class="col-sm-12">
				<a href="dummy.html">
					<img src="../_images/logo.png" alt="">
				</a>
			</div> --}}

			<div class="col-md-3 col-md-push-1 inicio">

				<form action="#">
					<input type="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
					<input type="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
					<button type="submit" value="Entrar"> Entrar </button>
				</form>

				<p>
					Pode ainda fazer login através de:
				</p>

				<div class="connect">
					<ul>
						<li>
							<a href="#">
								<img src="../_images/icons/fbicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/ggicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/ppicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/inicon.png" alt="">
							</a>
						</li>
					</ul>
				</div>

			</div>

			<div class="col-md-3 col-md-push-4 registo">

				<form action="#">
					<input type="Nome" placeholder="Nome" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nome'">
					<input type="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
					<input type="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
					<input type="Password" placeholder="Confirmação da Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirmação da Password'">
					<button type="submit" value="Registar"> Registar </button>
				</form>
				
			</div>
		</div>
	</div>
</section>