<section class="sessao">
	<div class="container">
		<div class="row">


			<div class="col-sm-12">
				<a href="dummy.html">
					<img src="../_images/logo.png" alt="">
				</a>
			</div>

			<div class="col-md-12 inicio">

				<form action="#">
					<div class="inicio-detail tit">

						<h1>
							Iniciar Sessão
						</h1>

						<p>Email

							<input type="Nome">
						</p>

					</div>
					<div class="inicio-detail">
						<p>Password
							<input type="Email">
						</p>

					</div>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Entrar">
						ENTRAR
					</button>
				</form>

				<p>
					Pode ainda fazer login através de:
				</p>

				<div class="connect">
					<ul>
						<li>
							<a href="#">
								<img src="../_images/icons/fbicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/ggicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/ppicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/inicon.png" alt="">
							</a>
						</li>
					</ul>
				</div>

			</div>

{{!-- 			<div class="col-md-6 registo">

				<form action="#">
					<div class="registo-detail tit">

						<h1>
							Registar-se
						</h1>

						<p>Nome

							<input type="Nome">
						</p>

					</div>
					<div class="registo-detail">
						<p>Email
							<input type="Email">
						</p>

					</div>
					<div class="registo-detail">
						<p>Password

							<input type="Password">
						</p>

					</div>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Entrar">
						CONFIRMAR
					</button>
				</form>
				
			</div>

			<div class="col-md-6 recuperar">

				<form action="#">
					<div class="recuperar-detail tit">

						<h1>
							Recuperar Password
						</h1>

						<p>Email

							<input type="Email">
						</p>

					</div>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Entrar">
						ENVIAR
					</button>
				</form>
				
			</div> --}}
		</div>
	</div>
</section>