<section class="partners">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>
					Parcerias
				</h1>
			</div>
			<div class="row partner">
				<div class="col-sm-3 partn">
					<a href="#">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</div>

				<div class="col-sm-3 partn">
					<a href="#">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</div>

				<div class="col-sm-3 partn">
					<a href="#">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</div>

				<div class="col-sm-3 partn">
					<a href="#">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</div>
			</div>
			
			<div class="row partner">
				<div class="col-sm-4 partn">
					<a href="#">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</div>

				<div class="col-sm-4 partn">
					<a href="#">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</div>

				<div class="col-sm-4 partn">
					<a href="#">
						<img src="../_images/image3.jpg" alt="">
					</a>
				</div>
			</div>
		</div>

	</div>


</section>