<section class="partners">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 parc">
				<h1>
					Parcerias
				</h1>
			</div>

		</div>


		<div class="row partner">
			<div class="col-md-4 col-sm-4 partn">
				<div class="image">
					<a href="http://www.booking.com/" target="_blank">
						<img src="../_images/partners/logoBooking.png" alt="">

						<p>
							Hoteis aos melhores preços !
						</p>
					</a> 

					
				</div>
			</div>

			<div class="col-md-4 col-sm-4 partn">
				<div class="image">
					<a href="http://www.odisseias.com/" target="_blank">
						<img src="../_images/partners/logoOdisseias.png" alt="">

						<p>
							As maiores aventuras estão aqui !
						</p>
					</a> 

					
				</div>
			</div>

			<div class="col-md-4 col-sm-4 partn">
				<div class="image">
					<a href="http://www.momondo.com/" target="_blank">
						<img src="../_images/partners/logoMomondo.png" alt="">

						<p>
							Viagens a preços incríveis !
						</p>
					</a> 

					
				</div>
			</div>
		</div>
	</div>


</section>