<section class="projectos">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="nav">
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> TODOS </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> HOTEIS </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> VIAGENS </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> JANTARES </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> DIAS ESPECIAIS </button>
				</div>
			</div>
			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/jantararlivre.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/negriljamaica.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/dianamorados.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/surpresaibis.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/valenciaespanha.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/parisfranca.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/remembercasamento.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/1ano.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/santorinigrecia.jpg" alt="">	
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow">
						VER
					</a>
				</div>
			</div>

			



			<div class="carrinho">

				
			</div>



		</div>
	</div>
</section>