<section class="projectos">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="nav">
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> TODOS </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> HOTEIS </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> VIAGENS </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> JANTARES </button>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Enviar"> DIAS ESPECIAIS </button>
				</div>
			</div>
			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/jantararlivre.jpg" alt="">
					</div>

					<h1>
						Jantar ao ar livre
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="verproj hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/negriljamaica.jpg" alt="">	
					</div>

					<h1>
						Negril, Jamaica
					</h1>

					<hr>

					<p>
						VIAGENS
					</p>

					<a href="" class="verproj hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/dianamorados.jpg" alt="">	
					</div>

					<h1>
						Dia dos Namorados
					</h1>

					<hr>

					<p>
						DIAS ESPECIAIS
					</p>

					<a href="" class="verproj hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/surpresaibis.jpg" alt="">	
					</div>

					<h1>
						Surpresa no Hotel Ibis Lisboa
					</h1>

					<hr>

					<p>
						HOTÉIS
					</p>

					<a href="" class="hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/valenciaespanha.jpg" alt="">	
					</div>

					<h1>
						Valência, Espanha 
					</h1>

					<hr>

					<p>
						VIAGENS
					</p>

					<a href="" class="hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/parisfranca.jpg" alt="">	
					</div>

					<h1>
						Paris, França
					</h1>

					<hr>

					<p>
						VIAGENS
					</p>

					<a href="" class="hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/remembercasamento.jpg" alt="">	
					</div>

					<h1>
						Remember Casamento
					</h1>

					<hr>

					<p>
						JANTARES
					</p>

					<a href="" class="hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/1ano.jpg" alt="">	
					</div>

					<h1>
						1 Ano de Namoro
					</h1>

					<hr>

					<p>
						DIAS ESPECIAIS
					</p>

					<a href="" class="hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>

			<div class="col-md-4 proj">
				<div class="projectos-detail">

					<div class="project-image">
						<img src="../_images/projectos/santorinigrecia.jpg" alt="">	
					</div>

					<h1>
						Santorini, Grécia
					</h1>

					<hr>

					<p>
						VIAGENS
					</p>

					<a href="" class="hvr-grow hvr-overline-from-center">
						VER
					</a>
				</div>
			</div>


			
			<div class="cart">

				<span class="ini hvr-grow">Cart</span>

				<div class="full">
					
				</div>

				<div class="box">
					<span class="fin">
						<h1 class="hvr-grow">
							40.70
						</h1>
					</span>

					<button class="checkout-close">
						<i class="icon-close"></i>
					</button>

					<div class="checkout-table">

						<table class="checkout-summary">
							<thead>
								<tr>
									<th>Item</th>
									<th>Quantidade</th>
									<th>Preço</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										Imitations <span>Mark Lanegan</span>
									</td>
									<td>
										1
									</td>
									<td>
										12.90€
									</td>
									<td>
										<button class="checkout-cancel">
											<i class="icon-trash"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										Out Of Exile <span>Audioslave</span>
									</td>
									<td>
										1
									</td>
									<td>
										15.90€
									</td>
									<td>
										<button class="checkout-cancel">
											<i class="icon-trash"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										Cure For Pain <span>Morphine</span>
									</td>
									<td>
										1
									</td>
									<td>
										11.90€
									</td>
									<td>
										<button class="checkout-cancel">
											<i class="icon-trash"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
				

				

			</div>

{{!-- 
			<div class="checkout">
				<a class="checkout__button" href="#"><!-- Fallback location -->
					<span class="checkout__text">
						<span class="checkout__text-inner checkout__initial-text">Checkout</span>
						<span class="checkout__text-inner checkout__final-text">$40.70 <i class="fa fa-fw fa-shopping-cart"></i></span>
					</span>
				</a>
				<div class="checkout__order">
					<div class="checkout__order-inner">
						<table class="checkout__summary">
							<thead>
								<tr><th>Item</th><th>QTY</th><th>Price</th><th>&nbsp;</th></tr>
							</thead>
							<tbody>
								<tr><td>Imitations <span>Mark Lanegan</span></td><td>1</td><td>$12.90</td><td><button class="checkout__action"><i class="icon fa fa-trash"></i></button></td></tr>
								<tr><td>Out Of Exile <span>Audioslave</span></td><td>1</td><td>$15.90</td><td><button class="checkout__action"><i class="icon fa fa-trash"></i></button></td></tr>
								<tr><td>Cure For Pain <span>Morphine</span></td><td>1</td><td>$11.90</td><td><button class="checkout__action"><i class="icon fa fa-trash"></i></button></td></tr>
							</tbody>
						</table><!-- /checkout__summary -->
						<button class="checkout__close checkout__cancel"><i class="icon fa fa-fw fa-close"></i>Close</button>
					</div><!-- /checkout__order-inner -->
				</div><!-- /checkout__order -->
			</div> --}}


{{!-- 			<div class="cart">

				<h1 class="hvr-grow">
					CART
				</h1>
				
			</div>

			<div class="full">


			</div>

			<div class="cart-big">

				<button class="checkout-close">
					<i class="icon-close"></i>
				</button>

				<div class="checkout-table">
					
					<table class="checkout-summary">
						<thead>
							<tr>
								<th>Item</th>
								<th>Quantidade</th>
								<th>Preço</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Imitations <span>Mark Lanegan</span>
								</td>
								<td>
									1
								</td>
								<td>
									12.90€
								</td>
								<td>
									<button class="checkout-cancel">
										<i class="icon-trash"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>
									Out Of Exile <span>Audioslave</span>
								</td>
								<td>
									1
								</td>
								<td>
									15.90€
								</td>
								<td>
									<button class="checkout-cancel">
										<i class="icon-trash"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>
									Cure For Pain <span>Morphine</span>
								</td>
								<td>
									1
								</td>
								<td>
									11.90€
								</td>
								<td>
									<button class="checkout-cancel">
										<i class="icon-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<button class="checkout">

					<h1 class="hvr-grow">
						60.20€	
					</h1>
					
				</button>
			</div> --}}
		</div>
	</div>
</section>