<section class="registo">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 initit">
				<a href="dummy.html">
					<img src="../_images/logo.png" alt="">
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 inicio">

				<form action="#">
					<div class="inicio-detail tit">
						
							<h1>
								Registar
							</h1>
						<div class="caixas">
							<p>Email

								
							</p>
							<input type="Nome">
						</div>
					</div>
					<div class="inicio-detail">
						<div class="caixas">
							<p>Password
								
							</p>
							<input type="Email">
							<a class="password " href="inicio.html">
							Voltar
							</a>
						</div>
					</div>
					<button class="hvr-shutter-out-horizontal" type="submit" value="Entrar">
						REGISTAR
					</button>

				</form>

				

				<p>
					Pode ainda fazer login através de:
				</p>

				<div class="connect">
					<ul>
						<li>
							<a href="#">
								<img src="../_images/icons/fbicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/ggicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/ppicon.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../_images/icons/inicon.png" alt="">
							</a>
						</li>
					</ul>
				</div>

			</div>


		</div>
	</div>
</section>