<section>
	
	<div id="owl-demo" class="owl-carousel owl-theme">

		<div class="item">
			<img src="../_images/editado1.png">
		</div>
		<div class="item">
			<img src="../_images/editado2.png">
		</div>
		<div class="item">
			<img src="../_images/editado3.png">
		</div>
		<div class="item">
			<img src="../_images/editado4.png">
		</div>
		<div class="item">
			<img src="../_images/editado5.png">
		</div>
		<div class="item">
			<img src="../_images/editado6.png">
		</div>
		<div class="item">
			<img src="../_images/editado7.png">
		</div>

	</div>

</section>