{{> organisms/header class="headerini" }}


<main role="main" class="site-main">

	<div class="site-content">

		{{> molecules/slider }}
		{{> molecules/detail }}
		{{> molecules/partners }}







		
		
	</div>

</main>

{{> organisms/footer class="footer" }}