{{> organisms/header class="headerequipa" }}


<main role="main" class="site-main">

	<div class="site-content">

		{{> molecules/equipa }}





		
		
	</div>

</main>

{{> organisms/footer class="footerdetail" type="generic"}}