{{> organisms/header class="headerini" }}


<main role="main" class="site-main">

	<div class="site-content">

		{{> molecules/inicio }}





		
		
	</div>

</main>

{{> organisms/footer class="footerinicioregisto"}}