{{!-- {{> organisms/header class="headerdetail" }} --}}


<main role="main" class="site-main">

	<div class="site-content">

		{{> molecules/registo }}





		
		
	</div>

</main>

 {{> organisms/footer class="footerinicioregisto" }} 