<section class="{{class}}">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-12 social">
				
				{{#compare this.type "generic"}}
				<h1>Siga-nos no</h1>
				
				<ul>
					<li>
						<a href="#">
							<img src="../_images/icons/facebookicon.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../_images/icons/instagramicon.png" alt="">
						</a>						
					</li>
					<li>
						<a href="#">
							<img src="../_images/icons/pinteresticon.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../_images/icons/googleicon.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../_images/icons/youtubeicon.png" alt="">
						</a>
					</li>
				</ul>
				{{/compare}}

				<ul class="hidden-xs">
					<li>
						<a href="inicio.html" class="hvr-overline-from-center">
							Iniciar Sessão
						</a>
					</li>
					<li>
						<a href="agencia.html" class="hvr-overline-from-center">
							Agência
						</a>						
					</li>
					<li>
						<a href="equipa.html" class="hvr-overline-from-center">
							Equipa
						</a>
					</li>
					<li>
						<a href="servicos.html" class="hvr-overline-from-center">
							Serviços
						</a>
					</li>
					<li>
						<a href="projectos.html" class="hvr-overline-from-center">
							Projectos
						</a>
					</li>
					<li>
						<a href="contactos.html" class="hvr-overline-from-center">
							Contacte-nos
						</a>
					</li>
				</ul>

				<blockquote>
					© MAKELOVE LTD. 2016
				</blockquote>

			</div>

		</div>

	</div>

</section>