.headerini {
	
	min-height: 220px;
	padding-top: 40px;

	.container {
		.row{
			.menu{

				text-align: right;
				margin: 0 auto;
				padding-top: 90px;

				ul{
					margin: 0 auto;
					li{
						font-family: fontDyane, "Ubuntu", Light;
						font-weight: lighter;
						display: inline-block;
						margin-right: 40px;

						&:last-of-type{
							margin-right: 0;
						}

						a{
							color: black;
							font-size: 20px;
							text-transform: uppercase;
							text-decoration: none;
							line-height: 30px;
							letter-spacing: 1px;

							// &:hover{
							// 	border-bottom: 2px dotted #910710;
							// }

							// &:active{
							// 	border-bottom: 2px dotted #910710;
							// }

						}
					}
				}
				

				
			}

			.nav{
				background-color: #e1e1e1;
				margin-bottom: 0;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				height: 20px;

				a{
					font-family: fontDyane, "Ubuntu", Light;
					color: gray;
					font-size: 9px;
					text-transform: uppercase;
					line-height: 9px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
					margin-top: 6px;

					@media only screen and (min-width : @screen-sm) {
						text-align: right;
					}
				}
			}

			img{
				height: 100%;
				width: 70%;

			}
		}
	}
}

.headerdetail {
	
	min-height: 220px;
	padding-top: 40px;
	background: url(../_images/fusco1.png) no-repeat;
	background-size: cover;
	background-position: center 59%;
	.container {
		.row{
			.menu{

				text-align: right;
				margin: 0 auto;
				padding-top: 90px;

				ul{
					margin: 0 auto;
					li{
						font-family: fontDyane, "Ubuntu", Light;
						font-weight: lighter;
						display: inline-block;
						margin-right: 40px;

						&:last-of-type{
							margin-right: 0;
						}

						a{
							color: black;
							font-size: 20px;
							text-transform: uppercase;
							text-decoration: none;
							line-height: 30px;
							letter-spacing: 1px;

							// &:hover{
							// 	border-bottom: 2px dotted #910710;
							// }

							// &:active{
							// 	border-bottom: 2px dotted #910710;
							// }

						}
					}
				}
				

				
			}

			.nav{
				background-color: #e1e1e1;
				margin-bottom: 0;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				height: 20px;

				a{
					font-family: fontDyane, "Ubuntu", Light;
					color: gray;
					font-size: 9px;
					text-transform: uppercase;
					line-height: 9px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
					margin-top: 6px;

					@media only screen and (min-width : @screen-sm) {
						text-align: right;
					}
				}
			}


			img{
				height: 100%;
				width: 70%;

			}
		}
	}
}

.headerinicioregisto {
	
	min-height: 220px;
	padding-top: 40px;
	background: url(../_images/fusco3.png) no-repeat;
	background-size: cover;
	background-position: center 40%;
	.container {
		.row{
			.menu{

				text-align: right;
				margin: 0 auto;
				padding-top: 90px;

				ul{
					margin: 0 auto;
					li{
						font-family: fontDyane, "Ubuntu", Light;
						font-weight: lighter;
						display: inline-block;
						margin-right: 40px;

						&:last-of-type{
							margin-right: 0;
						}

						a{
							color: black;
							font-size: 20px;
							text-transform: uppercase;
							text-decoration: none;
							line-height: 30px;
							letter-spacing: 1px;

							// &:hover{
							// 	border-bottom: 2px dotted #910710;
							// }

							// &:active{
							// 	border-bottom: 2px dotted #910710;
							// }

						}
					}
				}
				

				
			}

			.nav{
				background-color: #e1e1e1;
				margin-bottom: 0;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				height: 20px;

				a{
					font-family: fontDyane, "Ubuntu", Light;
					color: gray;
					font-size: 9px;
					text-transform: uppercase;
					line-height: 9px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
					margin-top: 6px;

					@media only screen and (min-width : @screen-sm) {
						text-align: right;
					}
				}
			}


			img{
				height: 100%;
				width: 70%;

			}
		}
	}
}

.headerequipa {
	
	min-height: 220px;
	padding-top: 40px;
	background: url(../_images/fusco4.jpg) no-repeat;
	background-size: cover;
	background-position: center 20%;
	.container {
		.row{
			.menu{

				text-align: right;
				margin: 0 auto;
				padding-top: 90px;

				ul{
					margin: 0 auto;
					li{
						font-family: fontDyane, "Ubuntu", Light;
						font-weight: lighter;
						display: inline-block;
						margin-right: 40px;

						&:last-of-type{
							margin-right: 0;
						}

						a{
							color: black;
							font-size: 20px;
							text-transform: uppercase;
							text-decoration: none;
							line-height: 30px;
							letter-spacing: 1px;

							// &:hover{
							// 	border-bottom: 2px dotted #910710;
							// }

							// &:active{
							// 	border-bottom: 2px dotted #910710;
							// }

						}
					}
				}
				

				
			}

			.nav{
				background-color: #e1e1e1;
				margin-bottom: 0;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				height: 20px;

				a{
					font-family: fontDyane, "Ubuntu", Light;
					color: gray;
					font-size: 9px;
					text-transform: uppercase;
					line-height: 9px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
					margin-top: 6px;

					@media only screen and (min-width : @screen-sm) {
						text-align: right;
					}
				}
			}


			img{
				height: 100%;
				width: 70%;

			}
		}
	}
}

.headerservicos {
	
	min-height: 220px;
	padding-top: 40px;
	background: url(../_images/fusco5.png) no-repeat;
	background-size: cover;
	background-position: center 13%;
	.container {
		.row{
			.menu{

				text-align: right;
				margin: 0 auto;
				padding-top: 90px;

				ul{
					margin: 0 auto;
					li{
						font-family: fontDyane, "Ubuntu", Light;
						font-weight: lighter;
						display: inline-block;
						margin-right: 40px;

						&:last-of-type{
							margin-right: 0;
						}

						a{
							color: black;
							font-size: 20px;
							text-transform: uppercase;
							text-decoration: none;
							line-height: 30px;
							letter-spacing: 1px;

							// &:hover{
							// 	border-bottom: 2px dotted #910710;
							// }

							// &:active{
							// 	border-bottom: 2px dotted #910710;
							// }

						}
					}
				}
				

				
			}

			.nav{
				background-color: #e1e1e1;
				margin-bottom: 0;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				height: 20px;

				a{
					font-family: fontDyane, "Ubuntu", Light;
					color: gray;
					font-size: 9px;
					text-transform: uppercase;
					line-height: 9px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
					margin-top: 6px;

					@media only screen and (min-width : @screen-sm) {
						text-align: right;
					}
				}
			}


			img{
				height: 100%;
				width: 70%;

			}
		}
	}
}

.headercontactos {
	
	min-height: 220px;
	padding-top: 40px;
	background: url(../_images/fusco6.png) no-repeat;
	background-size: cover;
	background-position: center 75%;
	.container {
		.row{
			.menu{

				text-align: right;
				margin: 0 auto;
				padding-top: 90px;

				ul{
					margin: 0 auto;
					li{
						font-family: fontDyane, "Ubuntu", Light;
						font-weight: lighter;
						display: inline-block;
						margin-right: 40px;

						&:last-of-type{
							margin-right: 0;
						}

						a{
							color: black;
							font-size: 20px;
							text-transform: uppercase;
							text-decoration: none;
							line-height: 30px;
							letter-spacing: 1px;

							// &:hover{
							// 	border-bottom: 2px dotted #910710;
							// }

							// &:active{
							// 	border-bottom: 2px dotted #910710;
							// }

						}
					}
				}
				

				
			}

			.nav{
				background-color: #e1e1e1;
				margin-bottom: 0;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				height: 20px;

				a{
					font-family: fontDyane, "Ubuntu", Light;
					color: gray;
					font-size: 9px;
					text-transform: uppercase;
					line-height: 9px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
					margin-top: 6px;

					@media only screen and (min-width : @screen-sm) {
						text-align: right;
					}
				}
			}


			img{
				height: 100%;
				width: 70%;

			}
		}
	}
}

.headerprojectos {
	
	min-height: 220px;
	padding-top: 40px;
	background: url(../_images/fusco7.png) no-repeat;
	background-size: cover;
	background-position: center 50%;
	.container {
		.row{
			.menu{

				text-align: right;
				margin: 0 auto;
				padding-top: 90px;

				ul{
					margin: 0 auto;
					li{
						font-family: fontDyane, "Ubuntu", Light;
						font-weight: lighter;
						display: inline-block;
						margin-right: 40px;

						&:last-of-type{
							margin-right: 0;
						}

						a{
							color: black;
							font-size: 20px;
							text-transform: uppercase;
							text-decoration: none;
							line-height: 30px;
							letter-spacing: 1px;

							// &:hover{
							// 	border-bottom: 2px dotted #910710;
							// }

							// &:active{
							// 	border-bottom: 2px dotted #910710;
							// }

						}
					}
				}
				

				
			}

			.nav{
				background-color: #e1e1e1;
				margin-bottom: 0;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				height: 20px;

				a{
					font-family: fontDyane, "Ubuntu", Light;
					color: gray;
					font-size: 9px;
					text-transform: uppercase;
					line-height: 9px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
					margin-top: 6px;

					@media only screen and (min-width : @screen-sm) {
						text-align: right;
					}
				}
			}


			img{
				height: 100%;
				width: 70%;

			}
		}
	}
}
