.equipa{
	padding-top: 90px;
	padding-bottom:30px;
	font-family: fontDyane, "Ubuntu", Light;


	.equipa-detail{
		color: black;
		border: 1px solid black;
		text-align: center;
		padding: 25px;
		margin-bottom: 60px;
		margin-top: 60px;
		margin-right: 0; 

		img{
			content: '';
			width: 125px;
			position: absolute;
			top: 0;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			height: 121px;
			border-radius: 50%;
			background-size: 130px 130px;
			background-position: center;
			z-index: 1;
		}

		h1{
			font-size: 22px;
			line-height: 22px;
			margin-top:50px;
			margin-bottom: 0;



			&::before{
				content: '';
				height: 110px;
				background-color: white;
				background-position: center;
				width: 230px;
				position: absolute;
				top: 10px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
		}

		hr{
			width: 50px;
			border-bottom: 1px solid #6f6a6a;
			margin: 22px auto;

		}



		p{
			text-transform: uppercase;
			font-size: 20px;
			font-weight: lighter;
			color: #6f6a6a;
		}


	}
}