

.sessao{
	padding-top: 80px;
	padding-bottom:80px;
	font-family: fontDyane, "Ubuntu", Light;
	background-color:#e1e1e1;
	.container{
		.row{

			div{

				&:first-of-type{
					text-align: center;
					a{
						img{
							width: 100%;
							max-width: 300px;
							margin: 0 auto;
							padding-top: 10px;
							padding-bottom: 8px;
							border-bottom: 4px solid black;
							border-radius: 13%;
							margin-bottom: 80px;


						}
					}
				}

			}



			.inicio{

				


				p{
					&:last-of-type{
						width: 180px;
						margin: 0 auto;
						padding-top: 5px;
						margin-bottom: 5px;
						font-size: 11px;
						line-height: 15px;
						font-weight: lighter;
						text-align: center;
						color: black;
						padding-bottom: 5px;
						border-top: 3px dotted black;
					}
				}

				form{
					margin: 0;
					margin-top: 10px;
					text-align: center;

					button{
						font-family: fontDyane, "Ubuntu", Light;
						font-size: 15px;
						border: 1px solid black;
						background-color: black;
						color: white;
						min-width: 100px;
						height: 40px;
						letter-spacing: 2px;
						margin-top: 20px;
						margin-bottom: 20px;
						padding-right: 10px;
						padding-left: 10px;
					}
				}

				.tit{

					h1{
						text-transform: uppercase;
						border-bottom: 1px solid black;
						padding-bottom: 15px;
						padding-top: 15px;
						padding-right: 50px;
						padding-left: 50px;
						text-align: center;
						margin: 0 auto;
						border-left: 1px solid black;
						border-top: 1px solid black;
						border-right: 1px solid black;
						top: 0;	
						width: 180px;
						margin-top: 0;
						font-family: fontDyane, "Ubuntu", Light;
						color: black;
						font-weight: lighter;
						font-size: 19px;
						line-height: 19px;
						width: 270px;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);

						&:before{
							content: '';
							background: url(../_images/icons/heartred.png) no-repeat;
							background-color: #e1e1e1;
							background-size: contain;
							background-position: center;
							display: block;
							height: 19px;
							width: 60px;
							position: absolute;
							top: -10px;
							left: 50%;
							-webkit-transform: translateX(-50%);
							transform: translateX(-50%);


						}

					}
				}

				.inicio-detail{
					display: block;
					margin: 0;
					padding-top: 80px;
					padding-bottom: 0px;
					text-align: center;

					input{
						display: inline-block;
						margin: 0 auto;
						height: 40px;
						border-left: 1px solid black;
						border-bottom: 0;
						border-top: 0;
						border-right: 0;
						padding: 10px;
						border-radius: 0;
						margin-left: 36px;
						font-family: fontDyane, "Ubuntu", Light;
						color:black;
						font-weight: lighter;
						line-height: 20px;
						font-size: 16px;
						width: 378px;
					}

					p{
						border: 1px solid black;
						height: 42px;
						margin: 0;
						display: inline-block;
						text-align: left;
						padding-left: 36px;
						font-family: fontDyane, "Ubuntu", Light;
						color:black;
						font-weight: lighter;
						line-height: 20px;
						font-size: 18px;
						width:500px;
						padding-top:0;
						padding-bottom: 0;
					}

					&:nth-of-type(2){
						padding-top: 30px;
						input{
							width: 377px;
							margin-left: 20px;

						}

						p{
							padding-left: 20px;
						}
					}
				}

				.connect{
					text-align: center;
					padding-bottom: 20px;
					ul{
						margin:0 auto;
						list-style: none;
						li{
							display: inline-block;
							a{
								img{

									border: 0;
									max-width: 30px;
									width: 100%;
									padding-top: 0;
									padding-bottom: 0;
									margin-bottom: 0;
									border-radius: 0;

									&:hover{
										opacity:0.5;
									}

								}
							}
						}
					}					
				}		
			}

			.registo{
				form{
					margin: 0;
					margin-top: 10px;
					text-align: center;

					button{
						font-family: fontDyane, "Ubuntu", Light;
						font-size: 15px;
						border: 1px solid black;
						background-color: black;
						color: white;
						min-width: 100px;
						height: 40px;
						letter-spacing: 2px;
						margin-top: 20px;
						margin-bottom: 20px;
						padding-right: 10px;
						padding-left: 10px;
					}
				}

				.tit{

					h1{
						text-transform: uppercase;
						border-bottom: 1px solid black;
						padding-bottom: 15px;
						padding-top: 15px;
						padding-right: 50px;
						padding-left: 50px;
						text-align: center;
						margin: 0 auto;
						border-left: 1px solid black;
						border-top: 1px solid black;
						border-right: 1px solid black;
						top: 0;	
						width: 180px;
						margin-top: 0;
						font-family: fontDyane, "Ubuntu", Light;
						color: black;
						font-weight: lighter;
						font-size: 19px;
						line-height: 19px;
						width: 270px;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);

						&:before{
							content: '';
							background: url(../_images/icons/heartred.png) no-repeat;
							background-color: #e1e1e1;
							background-size: contain;
							background-position: center;
							display: block;
							height: 19px;
							width: 60px;
							position: absolute;
							top: -10px;
							left: 50%;
							-webkit-transform: translateX(-50%);
							transform: translateX(-50%);


						}

					}
				}
				.registo-detail{
					display: block;
					margin: 0;
					padding-top: 30px;
					padding-bottom: 0px;
					text-align: center;



					input{
						display: inline-block;
						margin: 0 auto;
						height: 40px;
						border-left: 1px solid black;
						border-bottom: 0;
						border-top: 0;
						border-right: 0;
						padding: 10px;
						border-radius: 0;
						margin-left: 29px;
						font-family: fontDyane, "Ubuntu", Light;
						color: black;
						font-weight: lighter;
						line-height: 20px;
						font-size: 16px;
						width: 389px;
					}

					p{
						border: 1px solid black;
						height: 42px;
						margin: 0;
						display: inline-block;
						text-align: left;
						padding-left: 32px;
						font-family: fontDyane, "Ubuntu", Light;
						color: black;
						font-weight: lighter;
						line-height: 20px;
						font-size: 18px;
						width: 500px;
						padding-top: 0;
						padding-bottom: 0;			
					}

					&:first-of-type{
						padding-top: 80px;
						input{
							
							margin-left: 27px;
						}

						p{
							padding-left: 29px;


						}
					}

					&:last-of-type{
						p{
							padding-left: 15px;
						}

						input{
							margin-left: 13px;
							
						}
					}
				}
			}

			.recuperar{
				padding-top: 50px;
				border-top: 1px solid black;
				form{
					margin: 0;
					margin-top: 10px;
					text-align: center;

					button{
						font-family: fontDyane, "Ubuntu", Light;
						font-size: 15px;
						border: 1px solid black;
						background-color: black;
						color: white;
						min-width: 100px;
						height: 40px;
						letter-spacing: 2px;
						margin-top: 20px;
						margin-bottom: 20px;
						padding-right: 10px;
						padding-left: 10px;
					}
				}

				.tit{

					h1{
						text-transform: uppercase;
						border-bottom: 1px solid black;
						padding-bottom: 15px;
						padding-top: 15px;
						padding-right: 50px;
						padding-left: 50px;
						text-align: center;
						margin: 0 auto;
						border-left: 1px solid black;
						border-top: 1px solid black;
						border-right: 1px solid black;
						top: 0;	
						margin-top: 0;
						font-family: fontDyane, "Ubuntu", Light;
						color: black;
						font-weight: lighter;
						font-size: 19px;
						line-height: 19px;
						min-width: 270px;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						margin-top: 50px;


						&:before{
							content: '';
							background: url(../_images/icons/heartred.png) no-repeat;
							background-color: #e1e1e1;
							background-size: contain;
							background-position: center;
							display: block;
							height: 19px;
							width: 60px;
							position: absolute;
							top: -10px;
							left: 50%;
							-webkit-transform: translateX(-50%);
							transform: translateX(-50%);


						}

					}
				}
				.recuperar-detail{
					display: block;
					margin: 0;
					padding-top: 80px;
					padding-bottom: 0px;
					text-align: center;



					input{
						display: inline-block;
						margin: 0 auto;
						height: 40px;
						border-left: 1px solid black;
						border-bottom: 0;
						border-top: 0;
						border-right: 0;
						padding: 10px;
						border-radius: 0;
						margin-left: 29px;
						font-family: fontDyane, "Ubuntu", Light;
						color: black;
						font-weight: lighter;
						line-height: 20px;
						font-size: 16px;
						width: 389px;
					}

					p{
						border: 1px solid black;
						height: 42px;
						margin: 0;
						display: inline-block;
						text-align: left;
						padding-left: 32px;
						font-family: fontDyane, "Ubuntu", Light;
						color: black;
						font-weight: lighter;
						line-height: 20px;
						font-size: 18px;
						width: 500px;
						padding-top: 0;
						padding-bottom: 0;			
					}

				}
			}

		}

	}
}

// .row{




// 			div{

// 				&:first-of-type{
// 					text-align: center;
// 					a{
// 						img{
// 							width: 100%;
// 							max-width: 300px;
// 							margin: 0 auto;
// 							padding-top: 10px;
// 							padding-bottom: 8px;
// 							border-bottom: 4px solid white;
// 							border-radius: 13%;
// 							margin-bottom: 80px;


// 						}
// 					}
// 				}

// 			}

// 			.inicio{
// 				min-width: 350px;
// 				min-height: 280px;
// 				border-left: 4px solid white;
// 				border-right: 4px solid white;
// 				border-bottom-right-radius: 100%;
// 				border-bottom-left-radius: 100%;


// 				form{


// 					padding-top: 40px;

// 					margin-bottom: 10px;
// 				}

// 				input{
// 					height: 30px;
// 					display: block;
// 					margin:0 auto;
// 					margin-bottom: 15px;
// 					border: 1px solid black;

// 				}

// 				button{
// 					font-family: fontDyane, "Ubuntu", Light;
// 					font-size: 15px;
// 					border: 1px solid black;
// 					background-color: black;
// 					color: white;
// 					width: 100px;
// 					height: 40px;
// 					letter-spacing: 2px;
// 				}

// 				p{
// 					width: 180px;
// 					margin: 0 auto;
// 					padding-top: 10px;
// 					margin-bottom: 5px;
// 					font-size: 11px;
// 					line-height: 15px;
// 					font-weight: lighter;
// 					text-align: center;
// 					color: black;
// 					padding-bottom: 5px;
// 					border-top: 3px dotted white;
// 				}

// 				.connect{

// 					ul{
// 						margin:0 auto;
// 						list-style: none;
// 						li{
// 							display: inline-block;
// 							a{
// 								img{

// 									border: 0;
// 									max-width: 30px;
// 									width: 100%;
// 									padding-top: 0;
// 									padding-bottom: 0;
// 									margin-bottom: 0;
// 									border-radius: 0;

// 									&:hover{
// 										opacity:0.5;
// 									}

// 								}
// 							}
// 						}
// 					}					
// 				}
// 			}

// 			.registo{
// 				padding-top: 40px;
// 				margin-bottom: 10px;
// 				min-width: 350px;
// 				min-height: 280px;
// 				border-left: 4px solid white;
// 				border-right: 4px solid white;
// 				border-bottom-right-radius: 100%;
// 				border-bottom-left-radius: 100%;
// 				input{
// 					height: 30px;
// 					display: block;
// 					margin:0 auto;
// 					margin-bottom: 15px;
// 					font-size: 14px;
// 					border: 1px solid black;
// 				}

// 				button{
// 					font-family: fontDyane, "Ubuntu", Light;
// 					font-size: 15px;
// 					border: 1px solid black;
// 					background-color: black;
// 					color: white;
// 					width: 100px;
// 					height: 40px;
// 					letter-spacing: 2px;
// 				}

// 			}

// 		}