.projectos{
	padding-top: 80px;
	padding-bottom:20px;
	font-family: fontDyane, "Ubuntu", Light;



	.nav{
		text-align: center;
		button{
			font-family: fontDyane, "Ubuntu", Light;
			font-size: 16px;
			font-weight: lighter;
			border: 1px solid black;
			background-color: white;
			color: black;
			height: 30px;
			letter-spacing: 2px;
			padding-left: 25px;
			padding-right: 25px;
			margin-right: 35px;
		}

		&:last-of-type{
			margin-right: 0;
		}
	}


	.proj{

		.projectos-detail{
			color: black;
			border: 1px solid black;
			text-align: center;
			padding-bottom: 60px;
			margin-bottom: 60px;
			margin-right: 0;
			display: block;


			// &:hover{
			// 	&::before{
			// 		content: '';
			// 		background: url(../_images/icons/triangle2.png) no-repeat;
			// 		background-size: contain;
			// 		display: block;
			// 		position: absolute;
			// 		top: 190px;
			// 		left: 50%;
			// 		max-width: 120px;
			// 		width: 100%;
			// 		max-height: 120px;
			// 		height: 100%;
			// 		-webkit-transform: rotate(180deg) translateX(50%);
			// 		transform: translateX(-50%);
			// 		z-index: 10;
			// 		cursor: pointer;
			// 		-webkit-transition: all 1s ease-in-out;
			// 		-moz-transition: all 1s ease-in-out;
			// 		-o-transition: all 1s ease-in-out;
			// 	}
			// }

			
		}

		// .add{

		// 	padding: 0;
		// 	border: none;
		// 	background: none;
		// 	position: absolute;
		// 	height: 100px;
		// 	width: 100px;
		// 	z-index: 2;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// 	top: 45%;
		// 	z-index: 10;
		// 	i{
		// 		content: '';
		// 		background: url(../_images/icons/cartadd.png) no-repeat;
		// 		background-size: contain;
		// 		background-position: center;
		// 		display: block;
		// 		margin: 0;
		// 		height: 100px;
		// 		width: 100px;
		// 	}
		// }

		.project-image{

			position: relative;
			height: 245px;
			overflow: hidden;
			margin-bottom: 35px;

			img{
				position: absolute;
				width: 100%;
				top: -70px;
				left: 50%;
				transform: translateX(-50%);


			}


		}


		h1{
			font-size: 22px;
			line-height: 22px;
			margin-top: 0;
			margin-bottom: 0;

			&:before{
				content: '';
				background: url(../_images/icons/triangle1.png) no-repeat;
				background-size: contain;
				display: block;
				position: absolute;
				top: 200px;
				left: 50%;
				max-width: 90px;
				width: 100%;
				max-height: 90px;
				height: 100%;
				-webkit-transform: rotate(180deg) translateX(50%);
				transform: translateX(-50%);





			}

		}

		hr{
			width: 50px;
			border-bottom: 1px solid #6f6a6a;
			margin: 22px auto;

		}



		p{
			text-transform: uppercase;
			font-size: 20px;
			font-weight: lighter;
			color: #6f6a6a;
			margin-bottom: 0;

			&:before{
				content: '';
				position: absolute;
				bottom: 45px;
				left: 50%;
				width: 270px;
				height: 30px;
				translateX: 50%;
				color: white;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				background-color: white;
			}
		}

		a{
			text-decoration: none;
			position: absolute;
			color: black;
			font-weight: lighter;
			font-size: 24px;
			line-height: 30px;
			top: 415px;
			left: 43%;
				// -webkit-transform: translateX(-50%);
				// transform: translateX(-50%);
				// background-color: white;
				// width: 270px;
			}
		}



		&:nth-of-type(3){
			.projectos-detail{
				.project-image{
					img{
						top: -120px;
					}
				}
			}
		}

		&:nth-of-type(4){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

		&:nth-of-type(5){
			.projectos-detail{
				.project-image{
					img{
						top: -170px;
					}
				}
			}
		}

		&:nth-of-type(6){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

		&:nth-of-type(7){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

		&:nth-of-type(8){
			.projectos-detail{
				.project-image{
					img{
						top: -120px;
						max-width: 110%;
						width:110%;

					}
				}
			}
		}

		&:nth-of-type(9){
			.projectos-detail{
				.project-image{
					img{
						top: -80px;
					}
				}
			}
		}

		&:nth-of-type(10){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

	}

	.projdetail{

		hr{
			display: none;
		}
	}





	.cart{
		background-color: #910710;
		top: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		height: 50px;
		width: 110px;
		position: fixed;
		right: -70px;
		z-index: 1;
		border: 1px solid black;

		


		.ini{
			display: block;
			cursor: pointer;
			font-size: 22px;
			line-height: 22px;
			font-weight: lighter;
			color: white;
			font-family: fontDyane, "Ubuntu", Light;
			position: absolute;
			top: 27%;
			left: 25px;
		}

		.fin{
			display: none;
		}

		.checkout-close{
			display: none;
		}

		.checkout-table{
			display: none;
		}

		.full{
			display: none;
		}

		.box{
			display: none;
		}


		&.big{
			display: block;
			z-index: 1;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			position: fixed;
			border:0;
			transform: translate(0);
			background-color: transparent;
			transition: transform 1s;

			.ini{
				display: none;
			}

			.full{
				display: block;
				z-index: 2;
				height: 100%;
				width: 100%;
				position: absolute;
				background-color:#FFFBE6;
				top: 0;
				right: 0;
				opacity: 0.5;
				position: fixed;
				transform: translate(0);
			}
			

			.box{

				display: block;
				background-color: white;
				border: 5px solid #910710;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%);
				transform: translate(-50%, -50%);
				position: fixed;
				min-width: 320px;
				max-width: 700px;
				width: 95vw;
				height: 60vh;
				padding: 60px;
				z-index: 3;

				&:before{
					content: "";
					position: absolute;
					background-color: #fff;
					width: 20%;
					height: 20px;
					top: -6px;
					left: 50%;
					-webkit-transform: translate(-50%, 0);
					transform: translate(-50%, 0);

				}

				&:after{
					content: '';
					background: url(../_images/icons/heartred.png) no-repeat;
					background-size: contain;
					background-position: center;
					display: block;
					height: 19px;
					width: 60px;
					position: absolute;
					top: -15px;
					left: 50%;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
				}

				.checkout-close{
					display: block;
					padding: 0;
					border: none;
					background: none;
					position: absolute;
					top: 20px;
					right:20px;

					i{
						content: '';
						background: url(../_images/icons/X.png) no-repeat;
						background-size: contain;
						background-position: center;
						display: block;
						margin:0;
						height: 15px;
						width: 15px;
					}
				}

				.checkout-table{
					display: block;
					table{
						color: black;
						font-size: 22px;
						line-height: 22px;
						font-weight: lighter;
						font-family: fontDyane, "Ubuntu", Light;
						text-align: center;
					}

					th{
						width: 50%;
						padding-bottom: 20px;

						&:nth-of-type(2){
							width: 25%;
						}

						&:nth-of-type(3){
							width: 25%;
						}
					}

					td{
						padding-bottom: 10px;
						&:nth-of-type(1){
							text-align: left;
						}
					}
					.checkout-cancel{
						padding: 0;
						border: none;
						background: none;

						i{
							content: '';
							background: url(../_images/icons/trash.png) no-repeat;
							background-size: contain;
							background-position: center;
							display: block;
							margin:0;
							height: 30px;
							width: 30px;
						}
					}
				}

				.ini{
					display: none;
				}

				.fin{
					display: block;
					background-color: #910710;

					position: absolute;
					bottom: 5%;
					left: 50%;
					transform: translateX(-50%);
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 10px;
					padding-bottom: 10px;

					h1{
						font-family: fontDyane, "Ubuntu", Light;
						cursor: pointer;
						font-size: 22px;
						line-height: 22px;
						font-weight: lighter;
						color: white;
						margin:0;
						margin-left: 35px;

						&:before{
							content: '';
							background: url(../_images/icons/cart.png) no-repeat;
							background-size: contain;
							background-position: center;
							display: block;
							height: 22px;
							width: 22px;
							display: inline-block;
							margin: 0;
							position: absolute;
							left: -30px;

						}
					}
					
				}

				.full{
					display: block;
					z-index: 1;
					height: 100%;
					width: 100%;
					position: absolute;
					background-color:#FFFBE6;
					top: 0;
					right: 0;
					opacity: 0.5;
					position: fixed;
				}

			}

			
		}


	}






// a{
		// 	position: absolute;
		// 	margin: 0;
		// 	top: 30%;
		// 	left: 20px;
		// 	font-size: 22px;
		// 	line-height: 22px;
		// 	font-weight: lighter;
		// 	color: white;
		// 	font-family: fontDyane, "Ubuntu", Light;
		// 	cursor: pointer;
		// }


// .cart{

	// background-color: #910710;
	// top: 50%;
	// -webkit-transform: translate(-50%);
	// transform: translate(-50%);
	// height: 50px;
	// width: 110px;
	// position: fixed;
	// right: -70px;



// 	h1{
// 		position: absolute;
// 		margin: 0;
// 		top: 30%;
// 		left: 20px;
// 		font-size: 22px;
// 		line-height: 22px;
// 		font-weight: lighter;
// 		color: white;
// 		font-family: fontDyane, "Ubuntu", Light;
// 		cursor: pointer;

// 	}
// }

// .cart-big{

// 	background-color: white;
// 	border: 5px solid #910710;
// 	top: 50%;
// 	left: 50%;
// 	-webkit-transform: translate(-50%);
// 	transform: translate(-50%, -50%);
// 	position: fixed;
// 	min-width: 320px;
// 	max-width: 700px;
// 	width: 95vw;
// 	height: 60vh;
// 	padding: 60px;
// 	z-index: 1;


// 	&:before{
// 		content: "";
// 		position: absolute;
// 		background-color: #fff;
// 		width: 20%;
// 		height: 20px;
// 		top: -6px;
// 		left: 50%;
// 		-webkit-transform: translate(-50%, 0);
// 		transform: translate(-50%, 0);

// 	}

// 	&:after{
// 		content: '';
// 		background: url(../_images/icons/heartred.png) no-repeat;
// 		background-size: contain;
// 		background-position: center;
// 		display: block;
// 		height: 19px;
// 		width: 60px;
// 		position: absolute;
// 		top: -15px;
// 		left: 50%;
// 		-webkit-transform: translateX(-50%);
// 		transform: translateX(-50%);
// 	}


// 	h1{
// 		margin: 0;
// 		text-align: center;
// 		color: white;
// 		font-size: 22px;
// 		line-height: 22px;
// 		font-weight: lighter;
// 		font-family: fontDyane, "Ubuntu", Light;
// 		display: inline-block;
		// margin-left: 32px;


		// &:before{
		// 	content: '';
		// 	background: url(../_images/icons/cart.png) no-repeat;
		// 	background-size: contain;
		// 	background-position: center;
		// 	display: block;
		// 	height: 22px;
		// 	width: 22px;
		// 	display: inline-block;
		// 	margin: 0;
		// 	position: absolute;
		// 	left: -25px;
		// }

// 	}


	// .checkout-table{
	// 	table{
	// 		color: black;
	// 		font-size: 22px;
	// 		line-height: 22px;
	// 		font-weight: lighter;
	// 		font-family: fontDyane, "Ubuntu", Light;
	// 		text-align: center;
	// 	}

	// 	th{
	// 		width: 50%;
	// 		padding-bottom: 20px;

	// 		&:nth-of-type(2){
	// 			width: 25%;
	// 		}

	// 		&:nth-of-type(3){
	// 			width: 25%;
	// 		}
	// 	}

	// 	td{
	// 		padding-bottom: 10px;
	// 		&:nth-of-type(1){
	// 			text-align: left;
	// 		}
	// 	}

// 		.checkout-cancel{
// 			padding: 0;
// 			border: none;
// 			background: none;

// 			i{
// 				content: '';
// 				background: url(../_images/icons/trash.png) no-repeat;
// 				background-size: contain;
// 				background-position: center;
// 				display: block;
// 				margin:0;
// 				height: 30px;
// 				width: 30px;
// 			}
// 		}
// 	}

	// .checkout-close{
	// 	padding: 0;
	// 	border: none;
	// 	background: none;
	// 	position: absolute;
	// 	top: 20px;
	// 	right:20px;

	// 	i{
	// 		content: '';
	// 		background: url(../_images/icons/X.png) no-repeat;
	// 		background-size: contain;
	// 		background-position: center;
	// 		display: block;
	// 		margin:0;
	// 		height: 15px;
	// 		width: 15px;
	// 	}
	// }

// 	.checkout{
// 		padding: 0;
// 		border: none;
// 		background: none;
// 		bottom: 0;
// 		position: absolute;
// 		left: 50%;
// 		-webkit-transform: translateX(-50%);
// 		transform: translateX(-50%);
// 		background-color: #910710;
// 		margin-bottom: 30px;
// 		min-width: 120px;
// 		padding: 20px;
// 	}
// }

// .full{
// 	z-index: 1;
// 	height: 100%;
// 	width: 100%;
// 	position: absolute;
// 	background-color:#FFFBE6;
// 	top: 0;
// 	left: 0;
// 	opacity: 0.5;
// 	position: fixed;
// }







// &::before{
// 				content: '';
// 				height: 110px;
// 				background-color: white;
// 				background-position: center;
// 				width: 230px;
// 				position: absolute;
// 				top: 10px;
// 				left: 50%;
// 				-webkit-transform: translateX(-50%);
// 				transform: translateX(-50%);
// 			}


    // -webkit-transition: all 200ms linear;
    // transition: all 200ms linear;
    

	// &:hover{
	// 	right: 0px;
	// 	width: 800px;
	// 	height: 800px;
	// }