.projectos{
	padding-top: 80px;
	padding-bottom:20px;
	font-family: fontDyane, "Ubuntu", Light;



	.nav{
		text-align: center;
		button{
			font-family: fontDyane, "Ubuntu", Light;
			font-size: 22px;
			font-weight: lighter;
			border: 1px solid black;
			background-color: white;
			color: black;
			height: 40px;
			letter-spacing: 2px;
			padding-left: 40px;
			padding-right: 40px;
			margin-right: 35px;

			&:last-of-type{
				margin-right: 0;
			}

			&:first-of-type{
				margin-left: 15px
			}
		}
	}

	.proj{

		.projectos-detail{
			color: black;
			border: 1px solid black;
			text-align: center;
			padding-bottom: 60px;
			margin-bottom: 60px;
			margin-right: 0;
			display: block;

			.project-image{

				position: relative;
				height: 245px;
				overflow: hidden;
				margin-bottom: 35px;

				img{
					position: absolute;
					width: 100%;
					top: -70px;
					left: 50%;
					transform: translateX(-50%);
				}
			}


			h1{
				font-size: 22px;
				line-height: 22px;
				margin-top: 0;
				margin-bottom: 0;

				&:before{
					content: '';
					background: url(../_images/icons/triangle1.png) no-repeat;
					background-size: contain;
					display: block;
					position: absolute;
					top: 200px;
					left: 50%;
					max-width: 90px;
					width: 100%;
					max-height: 90px;
					height: 100%;
					-webkit-transform: rotate(180deg) translateX(50%);
					transform: translateX(-50%);

				}

			}

			hr{
				width: 50px;
				border-bottom: 1px solid #6f6a6a;
				margin: 22px auto;

			}



			p{
				text-transform: uppercase;
				font-size: 20px;
				font-weight: lighter;
				color: #6f6a6a;
				margin-bottom: 0;

				&:before{
					content: '';
					position: absolute;
					bottom: 45px;
					left: 50%;
					width: 270px;
					height: 30px;
					translateX: 50%;
					color: white;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
					background-color: white;
				}
			}

			a{
				text-decoration: none;
				position: absolute;
				color: black;
				font-weight: lighter;
				font-size: 24px;
				line-height: 24px;
				top: 420px;
				left: 45%;
				// -webkit-transform: translateX(-50%);
				// transform: translateX(-50%);
				// background-color: white;
				// width: 270px;
			}
		}



		&:nth-of-type(3){
			.projectos-detail{
				.project-image{
					img{
						top: -120px;
					}
				}
			}
		}

		&:nth-of-type(4){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

		&:nth-of-type(5){
			.projectos-detail{
				.project-image{
					img{
						top: -170px;
					}
				}
			}
		}

		&:nth-of-type(6){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

		&:nth-of-type(7){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

		&:nth-of-type(8){
			.projectos-detail{
				.project-image{
					img{
						top: -120px;
						max-width: 110%;
						width:110%;

					}
				}
			}
		}

		&:nth-of-type(9){
			.projectos-detail{
				.project-image{
					img{
						top: -80px;
					}
				}
			}
		}

		&:nth-of-type(10){
			.projectos-detail{
				.project-image{
					img{
						top: -200px;
					}
				}
			}
		}

	}

}



.carrinho{

	background-color:#e1e1e1;
	max-height:200px;
	max-width:200px;
	height:200px;
	width:200px;
	position:fixed;
	right: 20px;
	border-radius: 20%;

}


// &::before{
// 				content: '';
// 				height: 110px;
// 				background-color: white;
// 				background-position: center;
// 				width: 230px;
// 				position: absolute;
// 				top: 10px;
// 				left: 50%;
// 				-webkit-transform: translateX(-50%);
// 				transform: translateX(-50%);
// 			}